<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Hello, World!</title>
        </head>
        <body>
                <ul>
                {{range .}}
                <li>
                        {{uc .Name}}
                        <ul><li>{{ft .Name}} - {{.Motto}}</li></ul>
                </li>
                {{end}}
                </ul>
        </body>
</html>
