<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>builtin functions: index</title>
</head>
<body>
        first string: {{index .Words 0}}
        second string (commented out): {{/*index .Words 1*/}}
        third string: {{index .Words 2}}

        {{ .Lname }}

</body>
</html>
