<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>builtin functions: index</title>
</head>
<body>
        first string: {{index . 0}}
        second string (commented out): {{/*index . 1*/}}
        third string: {{index . 2}}

</body>
</html>
