<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>Date Formatting</title>
</head>
<body>
        without date formatting: {{.}}
        with date formatting: {{fdateDMY .}}
</body>
</html>
